{% extends 'base.html' %}
{% load static %}

{% block title %} DELETE TASK {% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static "css/aside.css" %}">
    <link rel="stylesheet" href="{% static "css/section.css"%} ">
    <link rel="stylesheet" href="{% static "css/add.css" %}">
{% endblock %}

{% block note %}
    <form method="post">
         {% csrf_token %}
        <h3>DO YOU WON'T DELETE NOTE?</h3>

        <br>

        <button type="submit">DELETE</button>
    </form>
{% endblock %}