{% extends 'base.html' %}

{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static "css/aside.css" %}">
    <link rel="stylesheet" href="{% static "css/section.css"%} ">
    <link rel="stylesheet" href="{% static "css/add.css" %}">
{% endblock %}

{% block cate_name %}
    {{ cate_name }}
{% endblock %}

{% block note %}

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <br>
        <button type="submit">Edit</button>
   </form>

{% endblock %}