{% extends 'base.html' %}

{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static "css/aside.css" %}">
    <link rel="stylesheet" href="{% static "css/section.css"%} ">
    <link rel="stylesheet" href="{% static "css/add.css" %}">
{% endblock %}

{% block cate_name %}
    {{ cate_name }}
{% endblock %}

{% block note %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <br>
        <div class="buttons">
            <button type="submit">Edit</button>
            <a href="/del/{{ note.id }}"><i class="fa-solid fa-trash-can" style="color: #ff0000;"></i></a>
        </div>
    </form>

    <script src="{% static "src/cate_color.js" %}"></script>
{% endblock %}