{% extends 'base.html' %}
{% load static %}

{% block title %} STRONA GŁÓWNA {% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static "css/aside.css" %}">
    <link rel="stylesheet" href="{% static "css/section.css" %}">
{% endblock %}

{% block cate_name %}
    {{ cate_name }}
{% endblock %}

{% block note %}
    {% for note in notes %}
        <span class="one-note col-3" id="{{ note.title }}">
            <a href="/edit/{{ note.id }}">
                <div class="note-top" style="border:3px solid rgb({{ note.categorie.bg_color }})">
                    <div class="title">
                        <h1>{{ note.title|truncatechars:10 }}</h1>
                    </div>
                </div>
                <div class="note-body">
                    <p>{{ note.body|truncatewords:20 }}</p>

                    <hr>

                    <div class="date">
                        <div class="left">
                            Data:
                        </div>
                        <div class="publish-date">
                            {{ note.publish_date }}
                        </div>
                    </div>
                </div>
            </a>
        </span>
    {% endfor %}

{% endblock %}