.row{
    --bs-gutter-x: 0rem;
}

.row form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    height: 75vh;
}

section label{
    font-size: 20px;
    font-weight: 600;
}

section input[type = text]{
    width: 300px;
    height: 30px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
}

section textarea{
    width: 300px;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    resize: none;
}


select{
    width: 300px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
}

form p{
    display: flex;
    flex-direction: column;
}

section button{
    width: 300px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #666;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
    cursor: pointer;
}

button:hover{
    background-color: #ccc;
    color: #fff;
}