section{
    padding: 50px;
    width: 80%;
}

.cat-name-section{
    margin: 0;
    font-size: 35px;
    font-weight: 700;
}

.notes{
    display: flex;
    flex-wrap: wrap;
    height: auto;
}

.one-note{
    width: 25%;
    height:fit-content;
    border-radius: 10px;

    margin: 20px;
}

.note-top{
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 5vh;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    padding: 10px;
}

.note-top h1{
    margin: 0;
    font-weight: 300;
}

.note-body{
    text-align: justify;
    border: 2px solid #5d5d5d;
    border-top: none;

    font-weight: 300;

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    padding: 10px;
}

.note-body p{
    margin: 0;
}

@media screen and (max-width: 1000px){
    section{
        padding: 1rem;
        width: auto;
    }

    .one-note{
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .notes{
        width: 100%;
    }
}